<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mixDataAccessTechTest">
    <select id="max"  resultType="int">
        select max(age) from employeeWithAge
    </select>
    <insert id="new" parameterType="map">
        insert into employeeWithAge(id, age) values (#{id}, #{age})
    </insert>

    <update id="update" parameterType="map">
        update employeeWithAge set age = #{age} where id = #{id}
    </update>
</mapper>
