/bin/
/.settings/
/build/
/.gradle/
/.classpath
/.project

/.idea/
/out/
oasis.iml
/javadoc
/logs
/log

*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/
.gradle
argfile*
pom.xml
activemq-data/

/oasis-*/log
/oasis-*/logs

classes/
/build
buildSrc/build
/oasis-*/build
/maru-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
/.vscode

maru-core/c:/x2d/log/rollingSample.log

# Local secrets
.secrets.properties
